/* Box sizing rules */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 500;
  background-color: #e0e8ff;
  background-image: url(/images/pattern-background-mobile.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

.container {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 425px) {
  body {
    background-image: url("/images/pattern-background-desktop.svg");
  }
}

@media screen and (min-width: 768px) {
  .card {
    width: 410px;
  }
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 570px;
  width: 330px;
  text-align: center;
  background-color: whitesmoke;
  border-radius: 20px;
  -webkit-box-shadow: 1px 1px 20px -9px rgba(0, 0, 0, 0.6);
          box-shadow: 1px 1px 20px -9px rgba(0, 0, 0, 0.6);
}

.card .card_img {
  height: 160px;
  width: 100%;
  background-image: url(/images/illustration-hero.svg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px 20px 0 0;
}

.card .card_content {
  padding: 40px;
}

.card .card_content .card_text {
  margin-bottom: 55px;
}

.card .card_content .card_text h2 {
  font-size: 1.4rem;
  font-weight: 900;
  margin-bottom: 15px;
}

.card .card_content .card_text p {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.6rem;
  color: #7280a7;
}

.card .card_content .card_plan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card .card_content .card_plan h4 {
  font-size: .9rem;
  font-weight: 900;
}

.card .card_content .card_plan p {
  font-size: .9rem;
  color: #7280a7;
}

.card .card_content .card_plan h4, .card .card_content .card_plan p {
  margin-left: -25px;
}

.card .card_content .card_plan .plan_link {
  font-size: .8rem;
  font-weight: 900;
  color: #3829e0;
}

.card .card_buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0px 25px;
}

.card .card_buttons button {
  border: none;
}

.card .card_buttons .payment {
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  font-size: 0.9rem;
  font-weight: 700;
  color: whitesmoke;
  background-color: #3829e0;
  border-radius: 10px;
  -webkit-box-shadow: 0px 20px 10px -5px rgba(19, 28, 155, 0.2);
          box-shadow: 0px 20px 10px -5px rgba(19, 28, 155, 0.2);
}

.card .card_buttons .order {
  background: none;
  color: #7280a7;
  font-size: .9rem;
  font-weight: 700;
}
/*# sourceMappingURL=style.css.map */