.card {
    display: flex;
    flex-direction: column;
    height: 570px;
    width: 330px;
    text-align: center;
    background-color: whitesmoke;
    border-radius: 20px;
    box-shadow: 1px 1px 20px -9px rgba(0,0,0,0.6);

    .card_img {
        height: 160px;
        width: 100%;
        background-image: url(/images/illustration-hero.svg);
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 20px 20px 0 0;
    }

    .card_content {
        padding: 40px;

        .card_text {
            margin-bottom: 55px;

            h2 {
                font-size: 1.4rem;
                font-weight: 900;
                margin-bottom: 15px;
            }

            p {
                font-size: 1rem;
                font-weight: 500;
                line-height: 1.6rem;
                color: $desaturated_blue;
            }
        }

        .card_plan {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            h4 {
                font-size: .9rem;
                font-weight: 900;
            }

            p {
                font-size: .9rem;
                color: $desaturated_blue;
            }

            h4, p {
                margin-left: -25px;
            }

            .plan_link {
                font-size: .8rem;
                font-weight: 900;
                color: $bright_blue;
            }
        }
    }

    .card_buttons {
        display: flex;
        flex-direction: column;
        padding: 0px 25px;

        button {
            border: none;
        }

        .payment {
            width: 100%;
            height: 50px;
            margin-bottom: 20px;
            font-size: 0.9rem;
            font-weight: 700;
            color: whitesmoke;
            background-color: $bright_blue;
            border-radius: 10px;
            box-shadow: 0px 20px 10px -5px rgba(19, 28, 155, 0.2);
        }

        .order {
            background: none;
            color: $desaturated_blue;
            font-size: .9rem;
            font-weight: 700;
        }
    }
}