@import '_colors';

/* Box sizing rules */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 500;
    background-color: $pale_blue;
    background-image: url(/images/pattern-background-mobile.svg);
    background-repeat: no-repeat;
    background-position: top;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

.container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width: 425px) {
    body {
        background-image: url('/images/pattern-background-desktop.svg');
    }
}
